body {
  background-color: rgb(41, 46, 70)
}
.all {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;

}

.top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  z-index: 1000;
  /* background-color: white; */
}

.logo {
  width: 150px;
  grid-column-start: 1;
  height: 50px;

}
.options{
  margin: 10px auto;
  grid-column-start: 2;
}

.dropdown {
  font-size: 1em;
  color: rgb(77, 98, 126);

}

#staff {
  position: relative;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 140px;
  height: 100px;
  transform: translateY(-50px);
  margin: 0 auto;
  padding-bottom: 0;
  z-index: -10
}

.chordChart {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}


h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: arial, sans-serif;
  display: inline-block;
  font-size: 1.5em;
  color: rgb(77, 98, 126);
}

h2 {
  font-size: 1.2em;
  
}

h3 {
  font-size: 0.9em;
}

.heading {
  position: relative;
  z-index: 100;
  margin-bottom: 15px;
  margin-top: 25px;
}

.showHideButton {
  display: inline-block;
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 1px solid rgb(77, 98, 126);
  background-color: rgb(243, 246, 250);
  cursor: pointer;
  text-align: center;
  transform: translateY(-5px);
  margin-left: 10px;
  transition: transform 0.1s;
}

.showHideButton>img {
  vertical-align: middle;
  width: 70%;
}

.chord {
  font-family: arial, sans-serif;
  font-weight: 100;
}

.numeral {
  font-family: 'Prata', serif;
  color: grey;
padding-top: 5px;
}

.tone {
  font-family: arial, sans-serif;
  font-weight: 100;
}

.chordQlty {
    font-size: 0.8em;
  font-weight: 100;
  margin-left: 0.1em;
}

.accidental {
  display: inline-block;
  font-size: 0.6em;
  transform: translateY(-0.5em)
}

.superscript {
  display: inline-block;

  font-size: 0.6em;
  transform: translateY(-0.5em)
}

.chordCell {
  width: 100px;
  height: 45px;
  text-align: center;
}

.SubdominantChordCell {
  height: 90px;
}

.aug6tone {
  margin: 0 auto;
  width: 30px;
  transform: translateX(8px);
  text-align: left;
}

.CMChordCell {
  height: 150px;
  
}

.DCs .SDs .subdominants .CMs{
  position: relative;
  transition: 0.5s;
}

.DCs {
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
	-moz-transition: max-height 0.3s ease-in-out;
	transition: max-height 0.3s ease-in-out;
  overflow: hidden
}

.SDs {
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
	-moz-transition: max-height 0.3s ease-in-out;
	transition: max-height 0.3s ease-in-out;
  overflow: hidden
}

.subdominants {
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
	-moz-transition: max-height 0.3s ease-in-out;
	transition: max-height 0.3s ease-in-out;
  overflow: hidden
}

.n6Placeholder {
  height: 37px;

}

.CMs {
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
	-moz-transition: max-height 0.3s ease-in-out;
	transition: max-height 0.3s ease-in-out;
  overflow: hidden
}

.CMChord {
  padding-top: 10px;
}

.CHChordPlaceholder {
  padding-top: 10px;
  height: 57px;
}

.CMBorder {
  border-right: 1px solid grey;
  border-left: 1px solid grey;

}

.CMSDLabel {
  position: absolute;
  transform: translateX(10px) translateY(14px);
  font-family: arial, sans-serif;
  color: grey;
  font-size: 0.9em;
}

.hidden {
  max-height: 0px;
}

.rotateButton {
  transform: rotate(-90deg) translateX(5px);
  transition: transform 0.1s;

}
